@use 'vars' as *;
@use 'predef' as *;

#contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:

        "cabecera"
        "contenido"
        "pie"

    ;

    #cabecera,
    #contenido,
    #pie {
        display: block;
        width: 100%;
    }

    #cabecera {
        grid-area: cabecera;
        // background-color: map-get($color, "blanco");
        background: linear-gradient(180deg, map-get($color, "blanco") 90%, map-get($color, "gris_11") 10%);
        border-bottom: 1px solid map-get($color, "gris_04");
        //padding: 0 2.5%;
    }

    #contenido {
        grid-area: contenido;
    }

    #pie {
        grid-area: pie;
        height: 20svh;
        background-color: #333;
    }
}


#contenedor {
    
    .contenedor__subir {
        @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: center, $flx_bx_gap: 0);
        position: fixed;
        width: 38px;
        height: 38px;
        border-radius: 7px;
        border: 1px solid map-get($color, "verde_03");
        background-color: map-get($color, "gris_12");
        bottom: 2.65svh;
        right: -100%;
        padding: 3.65px 0.5px 0 0;
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
        transition: .3s ease all;
        z-index: 999;

        div {
            display: inline-block;
            font-size: 1.75rem;
            color: map-get($color, "verde_03");
            line-height: 5px !important;
        }
    }

    .contenedor__subir.activo {
        right: 5%;
        transition: .3s linear all;
    }

    #cabecera {
        min-height: 50px;
        height: 13.33svw;
        @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: center, $flx_bx_gap: 0);
        
        .cabecera__contenido,
        .cabecera__contenido--moviles {
            @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: space-between, $flx_bx_gap: 0);
            // min-height: 50px;
            width: 100%;

            // .cabecera__contenido--logo {
            //     @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: flex-end, $flx_bx_juco: flex-start, $flx_bx_gap: 7px);
            // }

            // .cabecera__moviles--logo {
            //     @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: flex-start, $flx_bx_gap: 7px);
            // }

            .cabecera__contenido--logo,
            .cabecera__moviles--logo {
                @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: flex-start, $flx_bx_gap: 7px);

                .cabecera__contenido--logo_img,
                .cabecera__contenido--titulo,
                .cabecera__moviles--logo_img,
                .cabecera__moviles--titulo {
                    display: inline-block;
                }

                .cabecera__contenido--logo_img,
                .cabecera__moviles--logo_img {
                    //min-width: 37.5px;
                    //min-height: 19px;
                    //width: 10svw;
                    height: auto;

                    img {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        object-fit: contain;
                        display: block;
                    }

                }

                .cabecera__contenido--titulo,
                .cabecera__moviles--titulo {
                    // height: 24px;

                    h1 {
                        font-family: $fam_01;
                        //font-size: 7svw;
                        font-weight: 600;
                        color: map-get($color, "negro");
                        margin: 0;
                        padding: 0;
                        line-height: 1;
                        text-transform: capitalize;
                        font-variant: small-caps;
                    }
                }

                h1 {
                    font-family: $fam_01;
                    //font-size: 7svw;
                    font-weight: 600;
                    color: map-get($color, "negro");
                    margin: 0;
                    padding: 0;
                    line-height: 1;
                    text-transform: capitalize;
                    font-variant: small-caps;
                }

            }


        }

        .cabecera__contenido--moviles {
            // height: 13.33svw;
            padding: 0 2.5%;

            .cabecera__desplegable--menu {
                position: fixed;
                width: 100%;
                height: 100svh;
                // background-color: #fff;
                // background-image: url('assets\img\International_Fasteners_SA_Logo_Gris_fondo_transp_01.png');
                background: url('../img/International_Fasteners_SA_Logo_Gris_fondo_transp_01.png') no-repeat #fff;
                background-position: -111px -75px;
                top: 0;
                left: -150%;
                transition: .5s ease all;
                z-index: 998;
                touch-action: none;
                -ms-touch-action: none;
                @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: center, $flx_bx_gap: 0);

                // .desplegable__menu--logo {
                //     @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: center, $flx_bx_gap: 0);
                //     margin: 3svw 0 0;

                //     .desplegable__menu--logo_img {
                //         min-width: 200px;
                //         min-height: 192px;
                //         width: 53.33svw;
                //         height: auto;

                //         img {
                //             width: 100%;
                //             height: 100%;
                //             overflow: hidden;
                //             object-fit: contain;
                //             display: block;
                //         }
                //     }
                // }
    
                ul {
                    list-style: none;
                    display: block;
                    width: 100%;
                    padding: 0 5%;
                    //margin: 11svw 0 0;
    
                    li {
                        display: block;
                        padding: 0 0 11svw;
                        text-align: center;
                        font-family: $fam_02;
                        color: map-get($color, "verde_03");
                        font-size: 8.7svw;
                        font-weight: 600;
                        line-height: 1;
                        letter-spacing: .2svw;
    
                        a {
                            //line-height: 1;
                            // text-transform: uppercase;
                            // text-transform: capitalize;
                            // font-variant: small-caps;
    
                            &:hover {
                                color: map-get($color, "gris_09");
                            }
                        }
    
                        div {
                            @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: space-evenly, $flx_bx_gap: 0);
    
                            span {
                                color: map-get($color, "blanco");
                                font-size: 2.5rem;
                            }
                        }

                        &:last-child {
                            padding: 0;
                        }
                        
                    }
                }
            }
    
            .cabecera__desplegable--menu.activo {
                left: 0;
                transition: .3s linear all;
            }

            .cabecera__moviles--logo {

                .cabecera__moviles--logo_img {
                    min-width: 37.5px;
                    min-height: 19px;
                    width: 10svw;
                    // height: auto;

                    // img {
                    //     width: 100%;
                    //     height: 100%;
                    //     overflow: hidden;
                    //     object-fit: contain;
                    //     display: block;
                    // }

                }

                .cabecera__moviles--titulo {
                    // height: 24px;

                    h1 {
                        //font-family: $fam_01;
                        font-size: 7svw;
                        // font-weight: 600;
                        // color: map-get($color, "negro");
                        // margin: 0;
                        // padding: 0;
                        // line-height: 1;
                        // text-transform: capitalize;
                        // font-variant: small-caps;
                        // letter-spacing: 0.2svw;
                        letter-spacing: 0.2svw;
                    }
                }
            }

            .cabecera__moviles--btn {
                display: none;
                font-size: 7svw;
                color: map-get($color, "trans");
                padding: 3px 0 0; 
                //height: 24px;
                transition: .3s linear all;
                line-height: 1;
                z-index: 999;

                i {
                    display: block;
                }
            }

            .cabecera__moviles--btn.activo {
                display: inline-block;
                transition: .3s ease all;
                animation: boton_aparicion 1s linear forwards;

                @keyframes boton_aparicion {
                    0%{
                        color: map-get($color, "trans");
                    }

                    35%{
                        color: map-get($color, "trans");
                    }

                    100%{
                        color: map-get($color, "negro");
                    }
                }
            }

        }

        .cabecera__contenido {
            // height: 7svw;
            padding: 0 1%;

            .cabecera__contenido--logo {

                .cabecera__contenido--logo_img {
                    min-width: 30.72px;
                    // min-height: 19px;
                    width: 4vw;
                    // height: auto;

                    // img {
                    //     width: 100%;
                    //     height: 100%;
                    //     overflow: hidden;
                    //     object-fit: contain;
                    //     display: block;
                    // }

                }

                .cabecera__contenido--titulo {
                    //height: 24px;

                    h1 {
                        // font-family: $fam_02;
                        font-size: 2.7svw;
                        // color: map-get($color, "negro");
                        // margin: 0;
                        // padding: 0;
                        line-height: 1;
    
                        // span {
                        //     font-family: $fam_01;
                        // }
                    }
                }
            }

            .cabecera__contenido--menu {
                display: inline-block;

                ul {
                    list-style: none;
                    //display: inline-block;
                    //width: 100%;
                    //padding: 0 5%;
    
                    li {
                        display: inline-block;
                        padding: 0 2px;
                        text-align: right;
                        font-family: $fam_02;
                        color: map-get($color, "verde_03");
                        font-size: 1.5svw;
                        font-weight: 500;
                        letter-spacing: -0.01svw;
                        //line-height: 1;
    
                        a {
    
                            &:hover {
                                color: map-get($color, "gris_09");
                            }
    
                        }

                        &:first-child {
                            padding: 0 1.5px 0 0;
                        }
    
                        &:last-child {
                            padding: 0 0 0 1.5px;
                        }
    
                    }

                    
                }

            }

        }

    }

    #contenido {
        //padding: 0 0 0;

        #contenido__carousel {

            .contenido__carousel--slider {

                .slider {
                    position: relative;
                    background: map-get($color, "verde_03");
                    width: 100%;
                    min-height: 655px;
                    // height: 133.33svw;
                    // height: 70.82svh;
                    height: calc(100svh - 13.33svw);
                    //margin: 20px;
                    overflow: hidden;
                    //border-radius: 10px;
                    transition: .5s ease all;

                    .slide {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        clip-path: circle(0% at 0 50%);

                        img {
                            position: absolute;
                            //width: 225%;
                            width: 100%;
                            //min-height: 500px;
                            height: 100%;
                            //object-fit: contain;
                            object-fit: cover;
                        }

                        .info {
                            position: absolute;
                            //color: #222;
                            // color: map-get($color, "gris_11");
                            // font-family: $fam_02;
                            //background: rgba(255, 255, 255, 0.3);
                            // width: 75%;
                            // margin-top: 50px;
                            // margin-left: 50px;
                            // padding: 20px;
                            padding: 2svw;
                            // border-radius: 5px;
                            width: 100%;
                            //box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
                            

                            h2 {
                                color: map-get($color, "gris_11");
                                text-shadow: #000 3px 3px 1px;
                                margin: 0 0 9svw;
                            }

                            .info__h2--nrm {
                                font-size: 15svw;
                            }

                            .info__h2--mdn {
                                font-size: 16svw;
                            }

                            .info__h2--gde {
                                font-size: 20svw;
                                line-height: 1.1;
                            }

                            p {
                                color: map-get($color, "gris_06");
                                font-size: 11svw;
                                text-shadow: #000 3px 3px 1px;
                                font-weight: 400;
                            }
                        }
                    }

                    .slide.active {
                        clip-path: circle(150% at 0 50%);
                        transition: 2s;
                    }

                    &:hover {

                        .navigation {
                            opacity: 1;
                        }

                    }

                }
                  
                .navigation {
                    // height: 133.33svw;
                    // height: calc(100svh - 13.33svw);
                    // height: calc(100svh - 9svw);
                    height: 95svh;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    opacity: 0;
                    transition: opacity 0.5s ease;
                }
                  
                .prev-btn,
                .next-btn {
                    z-index: 997;
                    font-size: 2em;
                    color: #222;
                    background: rgba(255, 255, 255, 0.8);
                    padding: 10px;
                    cursor: pointer;
                }
                  
                .prev-btn {
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
                  
                .next-btn {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }
                  
                .navigation-visibility {
                    z-index: 997;
                    display: flex;
                    justify-content: center;

                    .slide-icon {
                        z-index: 997;
                        background: rgba(255, 255, 255, 0.5);
                        width: 20px;
                        height: 10px;
                        transform: translateY(-50px);
                        margin: 0 6px;
                        border-radius: 2px;
                        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
                    }

                    .slide-icon.active {
                        background: map-get($color, "verde_03");
                    }
                }

            }

        }

        #contenido__info {

            .contenido__info--nosotros,
            .contenido__info--clientes {
                // padding: 2.65svh 5svw;
                margin: 1px 0 0;

                h2 {
                    font-size: 11svw;
                    //margin: 0 0 7svw;
                    // width: auto;
                    height: 10svh;
                }
            }

            .contenido__info--nosotros {
                padding: 2.65svh 5svw;

                h2 {
                    color: map-get($color, "verde_03");
                    // position: relative;
                    // left: -100%;
                }

                .nosotros__h2 {
                    // opacity: 0;
                    visibility: hidden;
                }

                .nosotros__h2.animacion {
                    visibility: visible;
                    animation: nosotrosfadein 2.5s forwards;

                    @keyframes nosotrosfadein {

                        0% {
                            opacity: 0;
                        }

                        100% {
                            opacity: 1;
                        }
                        
                    }
                }

                .contenido__info--nosotros_txt-box {
                    height: 77svh;
                    overflow: hidden;
                    transition: .7s ease all;

                    div {
                        position: relative;

                        p {
                            font-size: 5svw;
                            line-height: 1.2;
                            margin: 0 0 5svw;
                        }

                        .info__nosotros--txt_fx {
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 77svh;
                            background: linear-gradient(to top, rgba(255, 255, 255, 1) 1%, rgba(255, 122, 89, 0) 30%);
                            top: 0;
                            left: 0;
                        }

                        .info__nosotros--txt_fx.no {
                            display: none;
                        }

                    }

                }

                .contenido__info--nosotros_txt-box.activo {
                    height: auto;
                    overflow: auto;
                    transition: .7s ease all;
                }
                
            }

            .contenido__info--clientes {
                padding: 2.65svh 0;
                overflow: hidden;

                h2 {
                    color: map-get($color, "negro");
                    margin: 0 0 0 5svw;
                    // opacity: 0;
                }

                .clientes__h2 {
                    // opacity: 0;
                    visibility: hidden;
                }

                .clientes__h2.animacion {
                    visibility: visible;
                    animation: clientesfadein 2.5s forwards;

                    @keyframes clientesfadein {

                        0% {
                            opacity: 0;
                        }

                        100% {
                            opacity: 1;
                        }
                        
                    }
                }

                .contenido__clientes {
                    //height: 83svh;
                    // background-color: #000;
                    // background-image: url(../img/fondo_cabecera_buho.jpg);
                    // background-size: cover;
                    // background-position: center center;
                    // background-repeat: no-repeat;
                    // background-attachment: fixed;
                    // overflow-x: hidden;
                    padding: 5svh 5% 0;
                    //margin: 0 0 1px;
        
                    .contenido__clientes--slider {
                        @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: flex-start, $flx_bx_juco: center, $flx_bx_gap: 0);
                        width: 285vw;
                        //height: 76svh;
                        transition: .5s ease all;
                        // overflow: hidden;
        
                        .clientes__slider--slide {
                            display: inline-block;
                            width: 33.33%;
                            height: 100%;
                            padding-right: 5vw;
        
                            img {
                                width: 100%;
                            }
        
                        }
        
                    }
        
                }
            }
        }

        /*
        .contenido__nosotros {
            padding: 2svh 0 5svh;
            margin: 1px 0 0;

            h2 {
                // font-family: $fam_01;
                text-align: center;
                font-size: 3.5rem;
                height: 3.5rem;
                line-height: 1.1;
                color: map-get($color, "gris_01");
                margin: 0 0 2svh;
            }

            .contenido__nosotros--cont {
                //@include caja__flexible--edit ($flx_bx_ff: row wrap, $flx_bx_alit: flex-start, $flx_bx_juco: space-between, $flx_bx_gap: 0);
                //padding: 0 5vw;
                background-color: chartreuse;

                .nosotros__cont--cabecera {
                    @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: space-around, $flx_bx_gap: 0);
                    height: 45vw;
                    background-color: #000;
                    background-image: url(../img/fondo_cabecera_nosotros.jpg);
                    background-size: contain;
                    background-position: center 15%;
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    margin-bottom: 3svh;

                    h3 {
                        display: inline-block;
                        // font-family: $fam_05;
                        font-size: 2rem;
                        font-weight: 600;
                        color: map-get($color, "blanco");
                        position: relative;
                        left: -100%;
                        width: auto;
                    }
                }

                .nosotros__cont--cabecera.fijo {
                    background-attachment: scroll;
                }

                .nosotros__cont--texto {
                    @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: flex-start, $flx_bx_juco: space-around, $flx_bx_gap: 0);
                    margin-bottom: 3svh;
                    overflow-x: hidden;

                    p {
                        // font-family: $fam_03;
                        font-size: 1rem;
                        color: map-get($color, "blanco");
                        display: inline-block;
                        background-color: chocolate;
                        border-radius: 11px;
                        width: 90%;
                        padding: 11px;
                        text-align: left;
                        position: relative;
                        right: -100%;
                    }

                }
            }

        }
        */

    }

}
