@use 'vars' as *;
@use 'predef' as *;

@media only screen and (min-width: map-get($wth_res, "mob_03")) {

    #contenedor {

        #cabecera {

            .cabecera__contenido--moviles {
                height: 60.11px;

                .cabecera__moviles--logo {

                    .cabecera__moviles--logo_img {
                        width: 45px;
                    }

                    .cabecera__moviles--titulo {

                        h1 {
                            font-size: 31.57px;
                        }
    
                    }
                    
                }

                .cabecera__moviles--btn{
                    font-size: 31.57px;
                }

                .cabecera__desplegable--menu{

                    .desplegable__menu--logo {
                        margin: 14px 0 0;

                        .desplegable__menu--logo_img {
                            width: 241px;
                        }

                    }

                    ul {
                        margin: 31.57px 0 0;

                        li {
                            font-size: 32.47px;
                            padding: 0 0 31.57px;
                        }

                    }

                }

            }
        }

        #contenido {

            #contenido__info {

                .contenido__info--nosotros {
                    // padding: 5svw;
                    padding: 22.6px;

                    h2 {
                        // font-size: 11svw;
                        // margin: 0 0 7svw;
                        margin: 0 0 31.64px;
                        font-size: 50px;
                    }

                    div {
                        
                        p {
                            // font-size: 6svw;
                            font-size: 27px;
                        }

                    }

                }

            }

        }

    }

}

@media only screen and (min-width: map-get($wth_res, "mob_04")) {

    #contenedor {

        #cabecera {

            .cabecera__contenido--moviles {

                .cabecera__moviles--logo {

                    .cabecera__moviles--logo_img {
                        width: 56px;
                    }
                    
                }

            }
        }

        #contenido {

            #contenido__carousel {

                .contenido__carousel--slider {
    
                    .slider {
                        
                        .slide {

                            .info {

                                h2 {
                                    // margin: 0 0 9svw;
                                    margin: 0 0 33px;
                                }

                                .info__h2--nrm {
                                    font-size: 72.15px;
                                    // font-size: calc(72.15px + 3svw);
                                }
    
                                .info__h2--mdn {
                                    font-size: 76.96px;
                                }
    
                                .info__h2--gde {
                                    font-size: 96.2px;
                                    // font-size: calc(96.2px + 3svw);
                                }
    
                                h3 {
                                    font-size: 52.91px;
                                }

                            }

                        }

                    }

                }
            }

        }

    }


}

@media only screen and (min-width: map-get($wth_res, "mob_05")) {

    #contenedor {

        #contenido {

            #contenido__carousel {

                .contenido__carousel--slider {
    
                    .slider {
                        
                        .slide {

                            .info {

                                h2 {
                                    // margin: 0 0 calc(27px + 4svw);
                                    margin: 0 0 33px;
                                }

                                .info__h2--nrm {
                                    // font-size: 72.15px;
                                    font-size: calc(72.15px + 4svw);
                                }
    
                                .info__h2--mdn {
                                    // font-size: 76.96px;
                                    font-size: calc(76.96px + 4svw);
                                }
    
                                .info__h2--gde {
                                    // font-size: 96.2px;
                                    font-size: calc(96.2px + 4svw);
                                }
    
                                h3 {
                                    font-size: 52.91px;
                                }

                            }

                        }

                    }

                    // .navigation {
                    //     // height: calc(100svh - 9svw);
                    //     height: 95svh;
                    // }

                }
            }

        }

    }


}

@media only screen and (min-width: map-get($wth_res, "dkp_01")) {

    #contenedor {

        #cabecera {
            height: 7svw;
        }

        #contenido {

            #contenido__carousel {

                .contenido__carousel--slider {
    
                    // .slider {
                    //     height: calc(100svh - 7svw);
                        
                    //     // .slide {

                    //     //     .info {

                    //     //         .info__h2--nrm {
                    //     //             // font-size: 72.15px;
                    //     //             font-size: calc(72.15px + 4svw);
                    //     //         }
    
                    //     //         .info__h2--mdn {
                    //     //             // font-size: 76.96px;
                    //     //             font-size: calc(76.96px + 4svw);
                    //     //         }
    
                    //     //         .info__h2--gde {
                    //     //             // font-size: 96.2px;
                    //     //             font-size: calc(96.2px + 4svw);
                    //     //         }
    
                    //     //         h3 {
                    //     //             font-size: 52.91px;
                    //     //         }

                    //     //     }

                    //     // }

                    // }

                    .slider {
                        height: calc(100svh - 7svw);
                        
                        .slide {

                            .info {

                                // h2 {
                                //     // margin: 0 0 calc(27px + 4svw);
                                //     margin: 0 0 33px;
                                // }

                                .info__h2--nrm,
                                .info__h2--mdn,
                                .info__h2--gde {
                                    // font-size: 72.15px;
                                    // font-size: calc(72.15px + 4svw);
                                    font-size: calc(76.96px + 4svw)
                                }
    
                                // .info__h2--mdn {
                                //     // font-size: 76.96px;
                                //     font-size: calc(76.96px + 4svw);
                                // }
    
                                // .info__h2--gde {
                                //     // font-size: 96.2px;
                                //     font-size: calc(96.2px + 4svw);
                                // }
    
                                // h3 {
                                //     font-size: 52.91px;
                                // }

                            }

                        }

                    }

                    .navigation {
                        height: 92svh;
                    }

                }
            }

        }

    }


}

@media only screen and (min-width: map-get($wth_res, "dkp_02")) {

    #contenedor {

        #contenido {

            #contenido__carousel {

                .contenido__carousel--slider {
    
                    .navigation {
                        height: 88svh;
                    }

                }
            }

        }

    }

}



/*

@media only screen and (max-height: map-get($hgt_res, "bkp_06")) {

    #contenedor {

        #contenido {
    
            .contenido__nosotros {
                padding: 1svh 0 5svh;
                margin: 1px 0 0;

                h2 {
                    margin: 0 0 1svh;
                }
            }
    
        }
    }

}



@media only screen and (min-width: map-get($wth_res, "tbl_01")) {

    #contenedor {

        #cabecera {

            .cabecera__contenido {
                display: flex;
            }

            .cabecera__contenido--moviles {
                display: none;
            }
        }
    }


}
*/