/*
$fam_01: 'Bebas Neue', sans-serif;
$fam_02: 'Pathway Gothic One', sans-serif;
$fam_03: 'Urbanist', sans-serif;
$fam_04: 'Helvetica', 'Segoe UI', 'Tahoma', Geneva, 'Verdana', 'sans-serif';
$fam_05: 'Koulen', sans-serif;
$fam_05: 'Staatliches', sans-serif;
*/
/*

.flex-1,
.flex-2,
.flex-3,
.flex-4,
.flex-5,
.flex-6,
.flex-7,
.flex-8,
.flex-9,
.flex-10,
.flex-11,
.flex-12 {
    display: flex;
}

.flex-1,
.flex-2,
.flex-3,
.flex-4,
.flex-5,
.flex-6,
.flex-9,
.flex-12 {
    flex-flow: row nowrap; 
}

.flex-10,
.flex-11 {
    flex-flow: row wrap; 
}

.flex-7,
.flex-8 {
    flex-flow: column nowrap;
}

.flex-1,
.flex-3,
.flex-5,
.flex-6,
.flex-7,
.flex-8,
.flex-10 {
    align-items: center;
}

.flex-1,
.flex-4,
.flex-8,
.flex-11,
.flex-12 {
    justify-content: space-between;
}

.flex-2,
.flex-9,
.flex-11,
.flex-12 {
    align-items: flex-start;
}

.flex-4 {
    align-items: flex-end;
}

.flex-5,
.flex-9 {
    justify-content: space-around;
}

.flex-7 {
    justify-content: center;
}

.flex-6,
.flex-10 {
    justify-content: flex-start;
}

.flex-8 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}
*/
/*
.cabeza__extremos {
    display: inline-block;
    padding: 7px;
}

// Cajas para scroll horizontal

.scroll_horiz {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: 10px;
    margin: 0 0 20px;

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin scroll_hrz ($scroll_horiz-gap: 10px, $scroll_horiz-mrg: 0 0 20px) {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: $scroll_horiz-gap;
    margin: $scroll_horiz-mrg;

    &::-webkit-scrollbar {
        display: none;
    }
}

// Efecto hover negro con h1 

@mixin box_hvrFX-01 ($bx_hvrfx01-bdrRad: 5px, $bx_hvrfx01-pasbgc: rgb(0, 0, 0, 0), $bx_hvrfx01-actbgc: rgb(0, 0, 0, 0.25), $bx_hvrfx01-paswyh: 15px, $bx_hvrfx01-bxpasbr: 50%, $bx_hvrfx01-trans: .2s all) {
    border-radius: $bx_hvrfx01-bdrRad;
    position: relative;

    h1 {
        position: absolute;
        z-index: 21;
    }

    .box_hvr {
        background-color: $bx_hvrfx01-pasbgc;
        width: $bx_hvrfx01-paswyh;
        height: $bx_hvrfx01-paswyh;
        border-radius: $bx_hvrfx01-bxpasbr;
        visibility: hidden;
        transition: $bx_hvrfx01-trans;
        //margin: 50% auto;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        //z-index: 11;
    }

    &:hover {
        .box_hvr {
            background-color: $bx_hvrfx01-actbgc;
            border-radius: $bx_hvrfx01-bdrRad;
            //margin: 0;
            width: 100%;
            height: 100%;
            //transform: none;
            //top: 0;
            //left: 0;
            visibility: visible;
            transition: $bx_hvrfx01-trans;
        }
    }
}

@mixin form__btns ($forms_btn-wth: 100%, $forms_btn-hgt: 42px, $forms_btn-bgc: map-get($color, "azul_02"), $forms_btn-color: map-get($color, "gris_08"), $forms_btn-fntsiz: 1rem, $forms_btn-fntwght: 600, $forms_btn-brdrad: 7px, $forms_btn-hvr_bgc: map-get($color, "verde_01")) {
    width: $forms_btn-wth;
    height: $forms_btn-hgt;
    background-color: $forms_btn-bgc;
    color: $forms_btn-color;
    font-family: $fnt_01;
    font-size: $forms_btn-fntsiz;
    font-weight: $forms_btn-fntwght;
    text-align: center;
    transition: .3s ease all;
    border-radius: $forms_btn-brdrad;

    &:hover {
        background-color: $forms_btn-hvr_bgc;
        transition: .3s linear all;
    } 
}
*/
/*
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');


@font-face {
    font-family: 'Bebas Neue';
    src: url(../fonts/BebasNeue-Regular.woff) format('woff');
    font-display: auto;
}

@font-face {
    font-family: 'Pathway Gothic One';
    src: url(../fonts/PathwayGothicOne-Regular.woff) format('woff');
    font-display: auto;
}

@font-face {
    font-family: 'Urbanist';
    src: url(../fonts/Urbanist-Regular.woff) format('woff');
    font-display: auto;
}

@font-face {
    font-family: 'Staatliches';
    src: url(../fonts/Staatliches-Regular.woff) format('woff');
    font-display: auto;
}


@font-face {
    font-family: 'Koulen';
    src: url(../fonts/Koulen-Regular.woff) format('woff');
    font-display: auto;
}
*/
@font-face {
  font-family: "Abril Fatface";
  src: url(../fonts/AbrilFatface-Regular.woff) format("woff");
  font-display: auto;
}
@font-face {
  font-family: "Antonio";
  src: url(../fonts/Antonio-VariableFont_wght.woff) format("woff");
  font-display: auto;
}
html,
:root {
  font-size: 16px !important;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  font-style: inherit;
  font-weight: inherit;
  font-family: inherit;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s !important;
  transition: background-color 600000s 0s, color 600000s 0s !important;
}

a {
  text-decoration: none;
  color: inherit;
}

h2,
h3,
p {
  font-family: "Antonio";
}

h2 {
  font-weight: 800;
  line-height: 1;
}

h3 {
  font-weight: 400;
}

.btn_01 {
  display: block;
  width: 100%;
  height: 9.5svh;
  background-color: #297240;
  color: #ededed;
  font-family: "Antonio";
  font-size: 3svh;
  font-weight: 600;
  text-align: center;
  transition: 0.3s ease all;
  border-radius: 7px;
}
.btn_01:hover {
  background-color: #333;
  transition: 0.3s linear all;
}

.btn_01.no {
  display: none;
}

#contenedor {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "cabecera" "contenido" "pie";
}
#contenedor #cabecera,
#contenedor #contenido,
#contenedor #pie {
  display: block;
  width: 100%;
}
#contenedor #cabecera {
  grid-area: cabecera;
  background: linear-gradient(180deg, #fff 90%, #f9f5f4 10%);
  border-bottom: 1px solid #aaa;
}
#contenedor #contenido {
  grid-area: contenido;
}
#contenedor #pie {
  grid-area: pie;
  height: 20svh;
  background-color: #333;
}

#contenedor .contenedor__subir {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: fixed;
  width: 38px;
  height: 38px;
  border-radius: 7px;
  border: 1px solid #297240;
  background-color: #faf6f3;
  bottom: 2.65svh;
  right: -100%;
  padding: 3.65px 0.5px 0 0;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease all;
  z-index: 999;
}
#contenedor .contenedor__subir div {
  display: inline-block;
  font-size: 1.75rem;
  color: #297240;
  line-height: 5px !important;
}
#contenedor .contenedor__subir.activo {
  right: 5%;
  transition: 0.3s linear all;
}
#contenedor #cabecera {
  min-height: 50px;
  height: 13.33svw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
}
#contenedor #cabecera .cabecera__contenido,
#contenedor #cabecera .cabecera__contenido--moviles {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 100%;
}
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--logo,
#contenedor #cabecera .cabecera__contenido .cabecera__moviles--logo,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__contenido--logo,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--logo .cabecera__contenido--logo_img,
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--logo .cabecera__contenido--titulo,
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--logo .cabecera__moviles--logo_img,
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--logo .cabecera__moviles--titulo,
#contenedor #cabecera .cabecera__contenido .cabecera__moviles--logo .cabecera__contenido--logo_img,
#contenedor #cabecera .cabecera__contenido .cabecera__moviles--logo .cabecera__contenido--titulo,
#contenedor #cabecera .cabecera__contenido .cabecera__moviles--logo .cabecera__moviles--logo_img,
#contenedor #cabecera .cabecera__contenido .cabecera__moviles--logo .cabecera__moviles--titulo,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__contenido--logo .cabecera__contenido--logo_img,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__contenido--logo .cabecera__contenido--titulo,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__contenido--logo .cabecera__moviles--logo_img,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__contenido--logo .cabecera__moviles--titulo,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__contenido--logo_img,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__contenido--titulo,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__moviles--logo_img,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__moviles--titulo {
  display: inline-block;
}
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--logo .cabecera__contenido--logo_img,
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--logo .cabecera__moviles--logo_img,
#contenedor #cabecera .cabecera__contenido .cabecera__moviles--logo .cabecera__contenido--logo_img,
#contenedor #cabecera .cabecera__contenido .cabecera__moviles--logo .cabecera__moviles--logo_img,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__contenido--logo .cabecera__contenido--logo_img,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__contenido--logo .cabecera__moviles--logo_img,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__contenido--logo_img,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__moviles--logo_img {
  height: auto;
}
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--logo .cabecera__contenido--logo_img img,
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--logo .cabecera__moviles--logo_img img,
#contenedor #cabecera .cabecera__contenido .cabecera__moviles--logo .cabecera__contenido--logo_img img,
#contenedor #cabecera .cabecera__contenido .cabecera__moviles--logo .cabecera__moviles--logo_img img,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__contenido--logo .cabecera__contenido--logo_img img,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__contenido--logo .cabecera__moviles--logo_img img,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__contenido--logo_img img,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__moviles--logo_img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--logo .cabecera__contenido--titulo h1,
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--logo .cabecera__moviles--titulo h1,
#contenedor #cabecera .cabecera__contenido .cabecera__moviles--logo .cabecera__contenido--titulo h1,
#contenedor #cabecera .cabecera__contenido .cabecera__moviles--logo .cabecera__moviles--titulo h1,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__contenido--logo .cabecera__contenido--titulo h1,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__contenido--logo .cabecera__moviles--titulo h1,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__contenido--titulo h1,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__moviles--titulo h1 {
  font-family: "Abril Fatface";
  font-weight: 600;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1;
  text-transform: capitalize;
  font-variant: small-caps;
}
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--logo h1,
#contenedor #cabecera .cabecera__contenido .cabecera__moviles--logo h1,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__contenido--logo h1,
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo h1 {
  font-family: "Abril Fatface";
  font-weight: 600;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1;
  text-transform: capitalize;
  font-variant: small-caps;
}
#contenedor #cabecera .cabecera__contenido--moviles {
  padding: 0 2.5%;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu {
  position: fixed;
  width: 100%;
  height: 100svh;
  background-color: #fff;
  top: 0;
  left: -150%;
  transition: 0.5s ease all;
  z-index: 998;
  touch-action: none;
  -ms-touch-action: none;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu .desplegable__menu--logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  margin: 3svw 0 0;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu .desplegable__menu--logo .desplegable__menu--logo_img {
  min-width: 200px;
  min-height: 192px;
  width: 53.33svw;
  height: auto;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu .desplegable__menu--logo .desplegable__menu--logo_img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu ul {
  list-style: none;
  display: block;
  width: 100%;
  padding: 0 5%;
  margin: 7svw 0 0;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu ul li {
  display: block;
  padding: 0 0 7svw;
  text-align: center;
  font-family: "Antonio";
  color: #297240;
  font-size: 7.2svw;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.2svw;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu ul li a:hover {
  color: #999;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu ul li div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 0;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu ul li div span {
  color: #fff;
  font-size: 2.5rem;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu.activo {
  left: 0;
  transition: 0.3s linear all;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__moviles--logo_img {
  min-width: 37.5px;
  min-height: 19px;
  width: 10svw;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__moviles--titulo h1 {
  font-size: 7svw;
  letter-spacing: 0.2svw;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--btn {
  display: none;
  font-size: 7svw;
  color: transparent;
  padding: 3px 0 0;
  transition: 0.3s linear all;
  line-height: 1;
  z-index: 999;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--btn i {
  display: block;
}
#contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--btn.activo {
  display: inline-block;
  transition: 0.3s ease all;
  -webkit-animation: boton_aparicion 1s linear forwards;
          animation: boton_aparicion 1s linear forwards;
}
@-webkit-keyframes boton_aparicion {
  0% {
    color: transparent;
  }
  35% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
@keyframes boton_aparicion {
  0% {
    color: transparent;
  }
  35% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
#contenedor #cabecera .cabecera__contenido {
  padding: 0 1%;
}
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--logo .cabecera__contenido--logo_img {
  min-width: 30.72px;
  width: 4vw;
}
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--logo .cabecera__contenido--titulo h1 {
  font-size: 2.7svw;
  line-height: 1;
}
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--menu {
  display: inline-block;
}
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--menu ul {
  list-style: none;
}
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--menu ul li {
  display: inline-block;
  padding: 0 2px;
  text-align: right;
  font-family: "Antonio";
  color: #297240;
  font-size: 1.5svw;
  font-weight: 500;
  letter-spacing: -0.01svw;
}
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--menu ul li a:hover {
  color: #999;
}
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--menu ul li:first-child {
  padding: 0 1.5px 0 0;
}
#contenedor #cabecera .cabecera__contenido .cabecera__contenido--menu ul li:last-child {
  padding: 0 0 0 1.5px;
}
#contenedor #contenido {
  /*
  .contenido__nosotros {
      padding: 2svh 0 5svh;
      margin: 1px 0 0;

      h2 {
          // font-family: $fam_01;
          text-align: center;
          font-size: 3.5rem;
          height: 3.5rem;
          line-height: 1.1;
          color: map-get($color, "gris_01");
          margin: 0 0 2svh;
      }

      .contenido__nosotros--cont {
          //@include caja__flexible--edit ($flx_bx_ff: row wrap, $flx_bx_alit: flex-start, $flx_bx_juco: space-between, $flx_bx_gap: 0);
          //padding: 0 5vw;
          background-color: chartreuse;

          .nosotros__cont--cabecera {
              @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: space-around, $flx_bx_gap: 0);
              height: 45vw;
              background-color: #000;
              background-image: url(../img/fondo_cabecera_nosotros.jpg);
              background-size: contain;
              background-position: center 15%;
              background-repeat: no-repeat;
              background-attachment: fixed;
              margin-bottom: 3svh;

              h3 {
                  display: inline-block;
                  // font-family: $fam_05;
                  font-size: 2rem;
                  font-weight: 600;
                  color: map-get($color, "blanco");
                  position: relative;
                  left: -100%;
                  width: auto;
              }
          }

          .nosotros__cont--cabecera.fijo {
              background-attachment: scroll;
          }

          .nosotros__cont--texto {
              @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: flex-start, $flx_bx_juco: space-around, $flx_bx_gap: 0);
              margin-bottom: 3svh;
              overflow-x: hidden;

              p {
                  // font-family: $fam_03;
                  font-size: 1rem;
                  color: map-get($color, "blanco");
                  display: inline-block;
                  background-color: chocolate;
                  border-radius: 11px;
                  width: 90%;
                  padding: 11px;
                  text-align: left;
                  position: relative;
                  right: -100%;
              }

          }
      }

  }
  */
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider {
  position: relative;
  background: #297240;
  width: 100%;
  min-height: 655px;
  height: calc(100svh - 13.33svw);
  overflow: hidden;
  transition: 0.5s ease all;
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(0% at 0 50%);
          clip-path: circle(0% at 0 50%);
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info {
  position: absolute;
  padding: 2svw;
  width: 100%;
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info h2 {
  color: #f9f5f4;
  text-shadow: #000 3px 3px 1px;
  margin: 0 0 9svw;
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info .info__h2--nrm {
  font-size: 15svw;
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info .info__h2--mdn {
  font-size: 16svw;
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info .info__h2--gde {
  font-size: 20svw;
  line-height: 1.1;
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info h3 {
  color: #cacaca;
  font-size: 11svw;
  text-shadow: #000 3px 3px 1px;
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide.active {
  -webkit-clip-path: circle(150% at 0 50%);
          clip-path: circle(150% at 0 50%);
  transition: 2s;
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider:hover .navigation {
  opacity: 1;
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .navigation {
  height: 95svh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .prev-btn,
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .next-btn {
  z-index: 997;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .prev-btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .next-btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .navigation-visibility {
  z-index: 997;
  display: flex;
  justify-content: center;
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .navigation-visibility .slide-icon {
  z-index: 997;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.2);
}
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .navigation-visibility .slide-icon.active {
  background: #297240;
}
#contenedor #contenido #contenido__info .contenido__info--nosotros,
#contenedor #contenido #contenido__info .contenido__info--clientes {
  margin: 1px 0 0;
}
#contenedor #contenido #contenido__info .contenido__info--nosotros h2,
#contenedor #contenido #contenido__info .contenido__info--clientes h2 {
  font-size: 11svw;
  height: 10svh;
}
#contenedor #contenido #contenido__info .contenido__info--nosotros {
  padding: 2.65svh 5svw;
}
#contenedor #contenido #contenido__info .contenido__info--nosotros h2 {
  color: #297240;
}
#contenedor #contenido #contenido__info .contenido__info--nosotros .nosotros__h2 {
  visibility: hidden;
}
#contenedor #contenido #contenido__info .contenido__info--nosotros .nosotros__h2.animacion {
  visibility: visible;
  -webkit-animation: nosotrosfadein 2.5s forwards;
          animation: nosotrosfadein 2.5s forwards;
}
@-webkit-keyframes nosotrosfadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes nosotrosfadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#contenedor #contenido #contenido__info .contenido__info--nosotros .contenido__info--nosotros_txt-box {
  height: 77svh;
  overflow: hidden;
  transition: 0.7s ease all;
}
#contenedor #contenido #contenido__info .contenido__info--nosotros .contenido__info--nosotros_txt-box div {
  position: relative;
}
#contenedor #contenido #contenido__info .contenido__info--nosotros .contenido__info--nosotros_txt-box div p {
  font-size: 5svw;
  line-height: 1.2;
  margin: 0 0 5svw;
}
#contenedor #contenido #contenido__info .contenido__info--nosotros .contenido__info--nosotros_txt-box div .info__nosotros--txt_fx {
  position: absolute;
  display: block;
  width: 100%;
  height: 77svh;
  background: linear-gradient(to top, rgb(255, 255, 255) 1%, rgba(255, 122, 89, 0) 30%);
  top: 0;
  left: 0;
}
#contenedor #contenido #contenido__info .contenido__info--nosotros .contenido__info--nosotros_txt-box div .info__nosotros--txt_fx.no {
  display: none;
}
#contenedor #contenido #contenido__info .contenido__info--nosotros .contenido__info--nosotros_txt-box.activo {
  height: auto;
  overflow: auto;
  transition: 0.7s ease all;
}
#contenedor #contenido #contenido__info .contenido__info--clientes {
  padding: 2.65svh 0;
  overflow: hidden;
}
#contenedor #contenido #contenido__info .contenido__info--clientes h2 {
  color: #000;
  margin: 0 0 0 5svw;
}
#contenedor #contenido #contenido__info .contenido__info--clientes .clientes__h2 {
  visibility: hidden;
}
#contenedor #contenido #contenido__info .contenido__info--clientes .clientes__h2.animacion {
  visibility: visible;
  -webkit-animation: clientesfadein 2.5s forwards;
          animation: clientesfadein 2.5s forwards;
}
@-webkit-keyframes clientesfadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes clientesfadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#contenedor #contenido #contenido__info .contenido__info--clientes .contenido__clientes {
  padding: 5svh 5% 0;
}
#contenedor #contenido #contenido__info .contenido__info--clientes .contenido__clientes .contenido__clientes--slider {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  width: 285vw;
  transition: 0.5s ease all;
}
#contenedor #contenido #contenido__info .contenido__info--clientes .contenido__clientes .contenido__clientes--slider .clientes__slider--slide {
  display: inline-block;
  width: 33.33%;
  height: 100%;
  padding-right: 5vw;
}
#contenedor #contenido #contenido__info .contenido__info--clientes .contenido__clientes .contenido__clientes--slider .clientes__slider--slide img {
  width: 100%;
}

@media only screen and (min-width: 452px) {
  #contenedor #cabecera .cabecera__contenido--moviles {
    height: 60.11px;
  }
  #contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__moviles--logo_img {
    width: 45px;
  }
  #contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__moviles--titulo h1 {
    font-size: 31.57px;
  }
  #contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--btn {
    font-size: 31.57px;
  }
  #contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu .desplegable__menu--logo {
    margin: 14px 0 0;
  }
  #contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu .desplegable__menu--logo .desplegable__menu--logo_img {
    width: 241px;
  }
  #contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu ul {
    margin: 31.57px 0 0;
  }
  #contenedor #cabecera .cabecera__contenido--moviles .cabecera__desplegable--menu ul li {
    font-size: 32.47px;
    padding: 0 0 31.57px;
  }
  #contenedor #contenido #contenido__info .contenido__info--nosotros h2 {
    font-size: 50px;
  }
  #contenedor #contenido #contenido__info .contenido__info--nosotros div p {
    font-size: 27px;
  }
}
@media only screen and (min-width: 481px) {
  #contenedor #cabecera .cabecera__contenido--moviles .cabecera__moviles--logo .cabecera__moviles--logo_img {
    width: 56px;
  }
  #contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info h2 {
    margin: 0 0 33px;
  }
  #contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info .info__h2--nrm {
    font-size: 72.15px;
  }
  #contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info .info__h2--mdn {
    font-size: 76.96px;
  }
  #contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info .info__h2--gde {
    font-size: 96.2px;
  }
  #contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info h3 {
    font-size: 52.91px;
  }
}
@media only screen and (min-width: 568px) {
  #contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info h2 {
    margin: 0 0 33px;
  }
  #contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info .info__h2--nrm {
    font-size: calc(72.15px + 4svw);
  }
  #contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info .info__h2--mdn {
    font-size: calc(76.96px + 4svw);
  }
  #contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info .info__h2--gde {
    font-size: calc(96.2px + 4svw);
  }
  #contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info h3 {
    font-size: 52.91px;
  }
}
@media only screen and (min-width: 1024px) {
  #contenedor #cabecera {
    height: 7svw;
  }
  #contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider {
    height: calc(100svh - 7svw);
  }
  #contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info .info__h2--nrm,
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info .info__h2--mdn,
#contenedor #contenido #contenido__carousel .contenido__carousel--slider .slider .slide .info .info__h2--gde {
    font-size: calc(76.96px + 4svw);
  }
  #contenedor #contenido #contenido__carousel .contenido__carousel--slider .navigation {
    height: 92svh;
  }
}
@media only screen and (min-width: 1280px) {
  #contenedor #contenido #contenido__carousel .contenido__carousel--slider .navigation {
    height: 88svh;
  }
}
/*

@media only screen and (max-height: map-get($hgt_res, "bkp_06")) {

    #contenedor {

        #contenido {

            .contenido__nosotros {
                padding: 1svh 0 5svh;
                margin: 1px 0 0;

                h2 {
                    margin: 0 0 1svh;
                }
            }

        }
    }

}



@media only screen and (min-width: map-get($wth_res, "tbl_01")) {

    #contenedor {

        #cabecera {

            .cabecera__contenido {
                display: flex;
            }

            .cabecera__contenido--moviles {
                display: none;
            }
        }
    }


}
*//*# sourceMappingURL=styles.css.map */